/linux_practice2/trash/gizumo20.md
/linux_practice2/trash/gizumo21.md
/linux_practice2/trash/gizumo22.md
/linux_practice2/trash/gizumo23.md
/linux_practice2/trash/gizumo24.md
/linux_practice2/trash/gizumo25.md
/linux_practice2/trash/gizumo26.md
/linux_practice2/trash/gizumo27.md
/linux_practice2/trash/gizumo28.md
/linux_practice2/trash/gizumo29.md
